<div class="tool_info">
  <%= @tool.name %> - <%= @tool.quantity %>
  <%= @tool.formatted_price %>
  <%= link_to "Back to all tools", user_tools_path(current_user) %>
  <%= link_to "Delete #{@tool.name}", user_tool_path(current_user, @tool.id), method: "delete" %>
  <%= link_to "Update #{@tool.name}", edit_user_tool_path(current_user, @tool.id) %>
</div>
